In [4]:
import pandas as pd
import numpy as np

In [2]:
#ppr = pd.read_csv("D:/Colleges/DCU/A.I/Data Analysis/")

%pwd

'd:\\Colleges\\DCU\\A.I\\Data Analysis'

In [1]:
%cd "d:/Colleges/DCU/A.I/Data Analysis/"

d:\Colleges\DCU\A.I\Data Analysis

In [30]:

df = pd.read_csv('project/BER/ber.csv', low_memory = False)
#46seconds

In [31]:
df.shape

(1011555, 213)

In [32]:
df.head()

,Unnamed: 0,index,CountyName,DwellingTypeDescr,Year_of_Construction,TypeofRating,EnergyRating,BerRating,GroundFloorArea(sq m),UValueWall,...,ThirdWallAgeBandId,ThirdWallTypeId,SA_Code,prob_smarea_error_0corr,prob_smarea_error_100corr,RER,RenewEPnren,RenewEPren,CPC,EPC
0,1,1,Co. Kerry,Detached house,1996,Existing,C3,202.72,262.98,0.55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,2,Co. Donegal,Semi-detached house,2004,Existing,C2,184.06,118.14,0.55,...,NaN,NaN,57106026,0.000222,0.012347,NaN,NaN,NaN,NaN,NaN
2,3,3,Co. Kildare,End of terrace house,1970,Existing,D2,273.58,78.04,0.29,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,4,Dublin 8,Mid-floor apartment,2000,Existing,E2,361.76,46.92,0.72,...,9.0,11.0,268085004,0.000320,0.012347,NaN,NaN,NaN,NaN,NaN
4,5,5,Co. Roscommon,Detached house,1981,Existing,B3,139.61,182.66,0.43,...,6.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
df.describe()

,Unnamed: 0,index,Year_of_Construction,BerRating,GroundFloorArea(sq m),UValueWall,UValueRoof,UValueFloor,UValueWindow,UvalueDoor,...,ThirdWallUValue,ThirdWallAgeBandId,ThirdWallTypeId,prob_smarea_error_0corr,prob_smarea_error_100corr,RER,RenewEPnren,RenewEPren,CPC,EPC
count,1.011555e+06,1.011555e+06,1.011555e+06,1.011555e+06,1.011555e+06,1.011555e+06,1.011555e+06,1.011555e+06,1.011555e+06,1.011555e+06,...,180877.000000,176360.000000,180516.000000,7.674620e+05,767462.000000,137865.000000,137865.000000,137865.000000,250431.000000,250431.000000
mean,5.057780e+05,5.057780e+05,1.983602e+03,2.369574e+02,1.134012e+02,6.690783e-01,3.755117e-01,4.317214e-01,2.611958e+00,2.399085e+00,...,0.781850,6.440888,6.358112,1.863817e-02,0.021077,0.122511,20558.034605,1648.581893,1.032138,0.961093
std,2.920109e+05,2.920109e+05,3.365266e+01,1.776136e+02,5.930509e+01,5.633919e-01,5.013500e-01,2.513896e-01,8.565985e-01,1.022362e+00,...,0.632851,3.048832,3.010487,4.481518e-02,0.028883,0.196335,16989.325684,3457.050510,0.969813,0.755433
min,1.000000e+00,1.000000e+00,1.753000e+03,-1.584200e+02,5.470000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.010000,0.000000,1.000000,5.642000e-09,0.002500,0.000000,0.000000,-38584.300000,-3.025000,-0.347000
25%,2.528895e+05,2.528895e+05,1.973000e+03,1.563000e+02,7.765000e+01,3.000000e-01,1.300000e-01,2.900000e-01,2.200000e+00,1.710000e+00,...,0.339000,4.000000,4.000000,1.737855e-06,0.002500,0.000000,8711.740000,0.000000,0.341000,0.371000
50%,5.057780e+05,5.057780e+05,1.997000e+03,2.088500e+02,9.987000e+01,5.200000e-01,2.200000e-01,4.100000e-01,2.700000e+00,3.000000e+00,...,0.550000,7.000000,7.000000,2.218867e-04,0.012347,0.000000,17134.300000,0.000000,0.853000,0.860000
75%,7.586665e+05,7.586665e+05,2.005000e+03,2.840600e+02,1.329500e+02,6.500000e-01,4.000000e-01,6.100000e-01,2.990000e+00,3.000000e+00,...,1.130000,9.000000,8.000000,1.744315e-02,0.028099,0.250000,26791.800000,2481.030000,1.386000,1.301000
max,1.011555e+06,1.011555e+06,2.104000e+03,5.642371e+04,3.546110e+03,5.650000e+00,7.000000e+00,7.760000e+00,7.570000e+00,8.600000e+00,...,10.000000,11.000000,14.000000,9.675549e-01,0.400000,1.626000,604515.000000,101254.000000,13.223000,10.864000

In [34]:
pd.options.display.min_rows = 214

df.isnull().sum()

Unnamed: 0                         0
index                              0
CountyName                         0
DwellingTypeDescr                  0
Year_of_Construction               0
TypeofRating                       0
EnergyRating                       0
BerRating                          0
GroundFloorArea(sq m)              0
UValueWall                         0
UValueRoof                         0
UValueFloor                        0
UValueWindow                       0
UvalueDoor                         0
WallArea                           0
RoofArea                           0
FloorArea                          0
WindowArea                         0
DoorArea                           0
NoStoreys                          0
CO2Rating                          0
MainSpaceHeatingFuel           15473
MainWaterHeatingFuel           15473
HSMainSystemEfficiency         15473
MultiDwellingMPRN                  0
TGDLEdition                        0
MPCDERValue                        0
HSEffAdjFactor                 15473
HSSupplHeatFraction            15473
HSSupplSystemEff               15473
                               ...
TotalCO2Emissions             996082
FirstWallType_Description     173674
FirstWallDescription          350458
FirstWallArea                    169
FirstWallUValue                  169
FirstWallIsSemiExposed          1938
FirstWallAgeBandId             17794
FirstWallTypeId                 1938
SecondWallType_Description    648889
SecondWallDescription         633466
SecondWallArea                523190
SecondWallUValue              523190
SecondWallIsSemiExposed       523850
SecondWallAgeBandId           532176
SecondWallTypeId              523850
ThirdWallType_Description     865194
ThirdWallDescription          852854
ThirdWallArea                 830678
ThirdWallUValue               830678
ThirdWallIsSemiExposed        831039
ThirdWallAgeBandId            835195
ThirdWallTypeId               831039
SA_Code                       244093
prob_smarea_error_0corr       244093
prob_smarea_error_100corr     244093
RER                           873690
RenewEPnren                   873690
RenewEPren                    873690
CPC                           761124
EPC                           761124
Length: 213, dtype: int64

In [15]:
print(df['SA_Code'].isnull().sum())

244093

In [47]:
df.columns.get_loc('CombiBoilerAddLoss')

ber = df[['index', 'CountyName', 
'DwellingTypeDescr', 'Year_of_Construction', 
'TypeofRating', 'EnergyRating', 
'BerRating', 'GroundFloorArea(sq m)', 
'UValueWall', 'UValueRoof', 
'UValueFloor', 'UValueWindow', 
'UvalueDoor', 'WallArea', 
'RoofArea', 'FloorArea', 
'WindowArea', 'DoorArea', 
'NoStoreys', 'CO2Rating', 
'MainSpaceHeatingFuel', 'MainWaterHeatingFuel', 
'HSMainSystemEfficiency', 'MultiDwellingMPRN', 
'TGDLEdition', 'MPCDERValue', 
'HSEffAdjFactor', 'HSSupplHeatFraction', 
'HSSupplSystemEff', 'WHMainSystemEff', 
'WHEffAdjFactor', 'SupplSHFuel', 
'SupplWHFuel', 'SHRenewableResources', 
'WHRenewableResources', 'NoOfChimneys', 
'NoOfOpenFlues', 'NoOfFansAndVents', 
'NoOfFluelessGasFires', 'DraftLobby', 
'VentilationMethod', 'FanPowerManuDeclaredValue', 
'HeatExchangerEff', 'StructureType', 
'SuspendedWoodenFloor', 'PercentageDraughtStripped', 
'NoOfSidesSheltered', 'PermeabilityTest', 
'PermeabilityTestResult', 'TempAdjustment', 
'HeatSystemControlCat', 'HeatSystemResponseCat', 
'NoCentralHeatingPumps', 'CHBoilerThermostatControlled', 
'NoOilBoilerHeatingPumps', 'OBBoilerThermostatControlled', 
'OBPumpInsideDwelling', 'NoGasBoilerHeatingPumps', 
'WarmAirHeatingSystem', 'UndergroundHeating', 
'GroundFloorUValue', 'DistributionLosses', 
'StorageLosses', 'ManuLossFactorAvail', 
'SolarHotWaterHeating', 'ElecImmersionInSummer', 
'CombiBoiler', 'KeepHotFacility', 
'WaterStorageVolume', 'DeclaredLossFactor', 
'TempFactorUnadj', 'TempFactorMultiplier', 
'InsulationType', 'InsulationThickness', 
'PrimaryCircuitLoss', 'DeliveredLightingEnergy', 
'DeliveredEnergyPumpsFans', 'DeliveredEnergyMainWater', 
'DeliveredEnergyMainSpace', 'PrimaryEnergyLighting', 
'PrimaryEnergyPumpsFans', 'PrimaryEnergyMainWater', 
'PrimaryEnergyMainSpace', 'CO2Lighting', 
'CO2PumpsFans', 'CO2MainWater', 
'CO2MainSpace', 'GroundFloorArea', 
'GroundFloorHeight', 'FirstFloorArea', 
'FirstFloorHeight', 'ThermalBridgingFactor', 
'ThermalMassCategory', 'PredominantRoofTypeArea', 
'PredominantRoofType', 'LowEnergyLightingPercent', 
'TotalDeliveredEnergy', 'DeliveredEnergySecondarySpace', 
'DeliveredEnergySupplementaryWater', 'LivingAreaPercent', 
'CO2SecondarySpace', 'CO2SupplementaryWater', 
'PrimaryEnergySecondarySpace', 'PrimaryEnergySupplementaryWater', 
'HESSchemeUpgrade', 'RoomInRoofArea', 
'PurposeOfRating', 'DateOfAssessment', 
'FirstWallDescription', 'FirstWallArea', 
'FirstWallUValue', 'FirstWallIsSemiExposed', 
'FirstWallAgeBandId', 'FirstWallTypeId', 
'SecondWallType_Description', 'SecondWallDescription', 
'SecondWallArea', 'SecondWallUValue', 
'SecondWallIsSemiExposed', 'SecondWallAgeBandId', 
'SecondWallTypeId', 'ThirdWallType_Description', 
'ThirdWallDescription', 'ThirdWallArea', 
'ThirdWallUValue', 'ThirdWallIsSemiExposed', 
'ThirdWallAgeBandId', 'ThirdWallTypeId', 
'SA_Code', 
'RenewEPnren', 'RenewEPren', 
'CPC', 'EPC']]

In [48]:
ber.shape
ber

,index,CountyName,DwellingTypeDescr,Year_of_Construction,TypeofRating,EnergyRating,BerRating,GroundFloorArea(sq m),UValueWall,UValueRoof,...,ThirdWallArea,ThirdWallUValue,ThirdWallIsSemiExposed,ThirdWallAgeBandId,ThirdWallTypeId,SA_Code,RenewEPnren,RenewEPren,CPC,EPC
0,1,Co. Kerry,Detached house,1996,Existing,C3,202.72,262.98,0.55,0.32,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Co. Donegal,Semi-detached house,2004,Existing,C2,184.06,118.14,0.55,0.40,...,NaN,NaN,NaN,NaN,NaN,57106026,NaN,NaN,NaN,NaN
2,3,Co. Kildare,End of terrace house,1970,Existing,D2,273.58,78.04,0.29,0.48,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Dublin 8,Mid-floor apartment,2000,Existing,E2,361.76,46.92,0.72,0.00,...,21.290,0.55,No,9.0,11.0,268085004,NaN,NaN,NaN,NaN
4,5,Co. Roscommon,Detached house,1981,Existing,B3,139.61,182.66,0.43,0.29,...,6.100,0.71,No,6.0,4.0,NaN,NaN,NaN,NaN,NaN
5,6,Co. Laois,Detached house,1971,Existing,E1,336.45,143.65,1.78,0.13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7,Cork City,Top-floor apartment,1990,Existing,E1,314.51,68.20,0.57,0.40,...,NaN,NaN,NaN,NaN,NaN,48015005,NaN,NaN,NaN,NaN
7,8,Co. Tipperary,Semi-detached house,2001,Existing,C3,205.97,139.60,0.55,0.25,...,NaN,NaN,NaN,NaN,NaN,217041019,NaN,NaN,NaN,NaN
8,9,Dublin 7,Top-floor apartment,1998,Existing,D2,296.43,42.05,0.55,0.40,...,NaN,NaN,NaN,NaN,NaN,268003005,NaN,NaN,NaN,NaN
9,10,Co. Wicklow,Top-floor apartment,1900,Existing,E2,374.11,54.37,1.26,0.40,...,NaN,NaN,NaN,NaN,NaN,257004011,NaN,NaN,NaN,NaN
10,11,Co. Kildare,Detached house,2001,Existing,C2,193.31,233.33,0.31,0.31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,12,Co. Dublin,Mid-terrace house,1999,Existing,D1,246.24,75.10,0.55,0.40,...,NaN,NaN,NaN,NaN,NaN,267132036,NaN,NaN,NaN,NaN
12,13,Dublin 5,Semi-detached house,1972,Existing,D2,291.80,146.98,1.74,0.36,...,NaN,NaN,NaN,NaN,NaN,268024002,NaN,NaN,NaN,NaN
13,14,Dublin 16,Mid-terrace house,1996,Existing,C3,222.14,76.14,0.55,0.26,...,NaN,NaN,NaN,NaN,NaN,267083020,NaN,NaN,NaN,NaN
14,15,Co. Cavan,End of terrace house,2007,Final,B2,112.82,91.10,0.25,0.13,...,NaN,NaN,NaN,NaN,NaN,27004007,NaN,NaN,NaN,NaN
15,16,Waterford City,Mid-terrace house,1916,Existing,G,961.38,42.27,2.10,2.30,...,NaN,NaN,NaN,NaN,NaN,228033001,NaN,NaN,NaN,NaN
16,17,Co. Kildare,Detached house,1930,Existing,B3,136.26,186.50,0.36,0.16,...,NaN,NaN,NaN,NaN,NaN,87073001,NaN,NaN,NaN,NaN
17,18,Cork City,Top-floor apartment,1960,Existing,F,386.81,77.47,1.62,2.30,...,NaN,NaN,NaN,NaN,NaN,48054006,NaN,NaN,NaN,NaN
18,19,Dublin 13,End of terrace house,1975,Existing,E2,363.56,85.10,2.34,0.40,...,9.350,2.40,No,5.0,7.0,267130010,NaN,NaN,NaN,NaN
19,20,Cork City,Mid-terrace house,1950,Existing,B2,119.44,82.71,0.24,0.22,...,11.930,0.25,No,4.0,10.0,48063006,NaN,NaN,NaN,NaN
20,21,Co. Roscommon,Detached house,1995,Existing,C2,185.63,237.31,0.55,0.40,...,NaN,NaN,NaN,NaN,NaN,197063003,NaN,NaN,NaN,NaN
21,22,Co. Mayo,Semi-detached house,1999,Existing,D1,256.46,79.11,0.30,0.15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,23,Co. Cork,Top-floor apartment,2003,Existing,D2,266.34,64.30,0.67,0.36,...,NaN,NaN,NaN,NaN,NaN,47277028,NaN,NaN,NaN,NaN
23,24,Co. Kildare,Top-floor apartment,1996,Existing,E1,338.74,56.20,0.78,0.28,...,NaN,NaN,NaN,NaN,NaN,87067002,NaN,NaN,NaN,NaN
24,25,Co. Kildare,Detached house,2001,Existing,C2,181.70,136.04,0.28,0.17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,26,Dublin 15,Detached house,2016,Final,A3,64.74,112.60,0.15,0.15,...,32.360,0.15,No,0.0,8.0,267040042,NaN,NaN,0.369,0.398
26,27,Co. Cork,End of terrace house,2006,Existing,C1,161.78,91.75,0.37,0.26,...,NaN,NaN,NaN,NaN,NaN,47277012,NaN,NaN,NaN,NaN
27,28,Co. Mayo,Semi-detached house,2006,Existing,C2,189.44,132.32,0.37,0.25,...,NaN,NaN,NaN,NaN,NaN,157025008,NaN,NaN,NaN,NaN
28,29,Dublin 3,Semi-detached house,1946,Existing,B3,148.90,155.84,1.17,0.19,...,NaN,NaN,NaN,NaN,NaN,268044004,NaN,NaN,NaN,NaN
29,30,Co. Cork,Semi-detached house,2005,Existing,C2,199.67,100.60,0.23,0.13,...,NaN,NaN,NaN,NaN,NaN,47151002,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1011525,1011526,Co. Laois,Detached house,1960,Existing,D1,233.95,78.33,0.58,0.26,...,NaN,NaN,NaN,NaN,NaN,107053001,17889.40,0.000,1.449,1.205
1011526,1011527,Co. Cork,Semi-detached house,1970,Existing,E2,378.22,93.12,2.10,0.40,...,19.706,2.10,No,5.0,10.0,47016057,34809.90,0.000,2.398,2.386
1011527,1011528,Co. Offaly,Ground-floor apartment,2019,Existing,B2,110.21,87.70,0.27,0.22,...,NaN,NaN,NaN,NaN,NaN,NaN,9665.84,0.000,0.659,0.716
1011528,1011529,Co. Offaly,Ground-floor apartment,2019,Existing,B3,126.03,87.70,0.27,0.22,...,NaN,NaN,NaN,NaN,NaN,NaN,11052.70,0.000,0.695,0.760
1011529,1011530,Co. Mayo,Detached house,1984,Existing,C1,169.28,244.87,0.58,0.47,...,NaN,NaN,NaN,NaN,NaN,157108002,40524.30,0.000,1.598,1.333
1011530,1011531,Dublin 9,Mid-floor apartment,2020,Final,A2,43.09,83.97,0.30,0.00,...,13.480,0.35,No,11.0,14.0,NaN,4959.91,1466.640,0.251,0.283
1011531,1011532,Co. Meath,Detached house,1999,Existing,D2,279.34,137.54,0.55,0.26,...,NaN,NaN,NaN,NaN,NaN,167037004,35984.20,0.000,2.143,1.779
1011532,1011533,Dublin 11,Mid-floor apartment,2020,Final,A2,37.97,83.40,0.18,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,2688.84,788.491,0.277,0.292
1011533,1011534,Dublin 10,Top-floor apartment,2002,Existing,D1,242.60,71.47,0.54,0.36,...,1.750,0.55,No,9.0,10.0,268038003,17338.30,0.000,1.369,1.413
1011534,1011535,Dublin 11,Mid-floor apartment,2020,Final,A2,38.27,80.50,0.18,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,2617.21,765.132,0.290,0.305
1011535,1011536,Dublin 11,Ground-floor apartment,2020,Final,A3,52.43,76.40,0.18,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,3773.16,1069.570,0.284,0.307
1011536,1011537,Co. Westmeath,Detached house,1940,Existing,G,1142.26,35.57,2.07,2.30,...,NaN,NaN,NaN,NaN,NaN,237095001,39835.70,0.000,6.382,3.953
1011537,1011538,Co. Dublin,Maisonette,2021,Final,A2,33.24,123.20,0.17,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,4095.42,1799.280,0.263,0.272
1011538,1011539,Dublin 4,Mid-terrace house,1992,Existing,E2,370.95,81.40,0.59,0.46,...,1.240,0.95,No,6.0,9.0,268110007,27751.10,0.000,3.237,2.040
1011539,1011540,Co. Dublin,Mid-floor apartment,2021,Final,A2,37.31,90.70,0.15,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,4860.95,1432.940,0.263,0.294
1011540,1011541,Co. Dublin,Ground-floor apartment,1970,Existing,E2,343.79,39.76,1.78,0.00,...,NaN,NaN,NaN,NaN,NaN,267101003,13669.20,0.000,1.341,1.456
1011541,1011542,Dublin 1,Mid-floor apartment,1995,Existing,C2,194.40,39.21,0.50,0.00,...,NaN,NaN,NaN,NaN,NaN,268109014,7622.50,0.000,1.079,1.082
1011542,1011543,Dublin 18,Ground-floor apartment,2021,Final,A3,61.64,65.40,0.19,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,4890.17,1063.090,0.324,0.356
1011543,1011544,Dublin 2,Top-floor apartment,2021,Final,A3,61.37,100.30,0.20,0.18,...,NaN,NaN,NaN,NaN,NaN,NaN,9351.23,1486.630,0.360,0.413
1011544,1011545,Dublin 2,Mid-floor apartment,2021,Final,A2,45.16,106.29,0.14,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,6857.06,1090.120,0.321,0.362
1011545,1011546,Dublin 2,Mid-floor apartment,2021,Final,A2,49.17,81.09,0.20,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,5745.63,913.423,0.348,0.388
1011546,1011547,Co. Leitrim,Detached house,2006,Existing,B1,77.69,181.04,0.37,0.13,...,NaN,NaN,NaN,NaN,NaN,117059003/117059006,23482.20,11580.600,0.782,0.557
1011547,1011548,Dublin 6,End of terrace house,1984,Existing,C3,209.11,58.51,0.59,0.49,...,6.980,0.60,No,7.0,4.0,267150006,12234.80,0.000,1.013,1.101
1011548,1011549,Dublin 2,Ground-floor apartment,2020,Final,A3,65.20,39.93,0.18,0.00,...,NaN,NaN,NaN,NaN,NaN,268142003,2996.64,529.378,0.273,0.301
1011549,1011550,Co. Donegal,Ground-floor apartment,1989,Existing,G,458.57,25.26,0.60,0.00,...,NaN,NaN,NaN,NaN,NaN,57106039,11091.60,0.000,2.156,1.524
1011550,1011551,Dublin 9,Top-floor apartment,2020,Final,A2,45.42,87.12,0.28,0.18,...,6.323,0.48,No,11.0,14.0,NaN,5441.50,1595.710,0.256,0.290
1011551,1011552,Co. Wexford,Detached house,2021,Final,A2,42.51,275.92,0.18,0.13,...,NaN,NaN,NaN,NaN,NaN,NaN,11730.60,7593.170,0.234,0.254
1011552,1011553,Co. Mayo,Detached house,1950,Existing,G,478.07,94.11,1.90,1.13,...,18.390,1.41,No,4.0,6.0,157005002,43291.60,0.000,3.087,2.548
1011553,1011554,Co. Galway,Top-floor apartment,1975,Existing,G,713.86,151.11,1.56,1.32,...,NaN,NaN,NaN,NaN,NaN,67120001,107872.00,0.000,5.380,4.370
1011554,1011555,Dublin 6,Mid-floor apartment,1965,Existing,D2,290.75,43.90,3.23,0.00,...,NaN,NaN,NaN,NaN,NaN,268128010,12763.80,0.000,1.642,1.750